_ReSharper.*
[Bb]in/
[Oo]bj/
*.suo
*.user
*.userprefs
*.cache
*.orig
Thumbs.db
.DS_Store
*.log

# nuget packages
src/packages

#VS hidden folder
src/.vs/*

# PostBuildEvents.bat will differ for all contributors
src/Our.Umbraco.RobotsTxtEditor/PostBuildEvents.bat
