<div class="umb-robotstxteditor" ng-controller="RobotsTxtEditorController as vm">


    <umb-load-indicator ng-show="vm.loading"></umb-load-indicator>

    <div class="umb-robotstxteditor-main" ng-show="!vm.loading">
        <div class="umb-robotstxteditor-controls">
            <!--<p>
                    TODO: replace with 'posh' textarea with line numbers (like editing styles)
                <textarea ng-model="vm.data.FileContents"></textarea>
            </p>-->
            <umb-editor-container>
                <umb-box>
                    <umb-box-content>
                        <h3 class="bold">Robots.txt Editor</h3>
                        <p>Welcome to the Umbraco Robots.Txt editor dashboard!</p>
                        <p>Below you can enter the files and folders you wish to be ingnored by web-crawlers and search engines.</p>
                        <p>To add a comment to the file, start the lnie with the # character, for example:</p>
                        <p># Welcome to my robots file</p>
                        <p>To add a file or folder, type the word 'Disallow' followed by a semi-colon, for example:</p>
                        <p>Begin and end the filepath with a forward slash</p>
                        <p>Disallow: /bin/</p>
                        <p>Add User-Agent to prevent a particular web crawler by typing the phrase 'User-Agent' and declare the name of the particular bot you wish to disallow. </p>
                        <p>If you wish to prevent all bots and crawlers, just add a star after the User-Agent declaration.</p>
                        <p>Followed this with 'Disallow' and a forward slash to include the entire site, for example</p>
                        <p>User-Agent: *</p>
                        <p>Disallow: /</p>

                        <div class="flex" style="margin-bottom: 30px;">
                            <div class="flex" style="margin-left: auto;">
                                <umb-button type="button"
                                            label="{{vm.data.FileExists ? 'Update Robots.txt' : 'Create Robots.txt'}}"
                                            button-style="success"
                                            size="xs"
                                            action="vm.saveData()">
                                </umb-button>

                                <!--<umb-button-group
                style="margin-left: 5px;"
                default-button="vm.editorControls.insertDefaultButton"
                sub-buttons="vm.editorControls.insertSubButtons"
                size="xs"
                icon="icon-add">
            </umb-button-group>-->

                                <umb-button type="button"
                                            ng-show="vm.data.FileExists"
                                            size="xs"
                                            style="margin-left: 5px;"
                                            label="Reload from disk"
                                            action="vm.reloadData()">
                                </umb-button>
                            </div>
                        </div>

                        <div auto-scale="85"
                             umb-ace-editor="vm.aceOption"
                             model="vm.data.FileContents">
                        </div>
                    </umb-box-content>
                </umb-box>
            </umb-editor-container>
        </div>

    </div>
</div>